*{
margin: 0%;
padding:0%;

}
.fnav{
display:flex ;
justify-content: center;
justify-content:space-around;
margin-top:px;
color:white;
background-color:rgb(237, 16, 34);
padding:6px ;

}

.fnav .left{
display:flex;
margin-top:11px;


}


.fnav img{

width:200px;
margin-right: 50px;
margin-left: -200px;
margin-bottom: -50px;
margin-top: -60px;

}
.left input{
margin-inline:11px ;
width: 420px; 
height:33px;
border:none;
outline:none;
text-align:center;
margin-top:16px;

}

.fnav .Right{
display:flex;
margin-top:16px;


}
.right button{
margin-inline:22px;
width:80px;
height:27px;
border:none;
border-radius:2px;
background-color:rgb(244,69,98);
color:white;

}
.right.i{
margin-inline:22px;
font-size:22px;
}
.sec-nav{
display:flex;
justify-content:center;
justify-content:space-around;
padding:10px ;
background-color:rgb(26,26,48);
color:white;

}
.sec-nav .s-left{

display:flex;

}
.sec-nav .s-right{
    

display:flex;

}
.sec-nav p:hover{

cursor:pointer ;
font-weight:600 ;
color: rgb(241, 245, 12);

}

.s-left p{
margin-inline-start:18px;


}
.s-right p{
margin-inline-start:18px;

}
.main img{

width:100%;


}
.container h2{

text-align:center;
padding:22px;

}
.container .card{
margin-top:11px;
display:flex;
justify-content:centre;
justify-content:space-around;


}.card img{
width:16%;
margin-block:18px;
border-radius:5px;

}
.banner img{
width: 100%; 
margin-top:44px;

}
.premiere{
background-color: rgb(8, 8, 19);
color:white;
padding:33px;
margin-top:44px;

}
.premiere h2{
text-align:left;
margin-top:11px ;

}
.footer{

background:rgb(227,218,218) ;
padding:33px;
margin-left:44%;


}


.footer img {
background-color:rgb(230, 19, 19);
padding:15px ;
color:white ;
 margin-top:10px ;
}
.footer.icon{
display:flex ;
text-align:center;
justify-content:center;

}
.footer i{
margin-inline :22px;
font-size:25px;
font-size:36px;



}